.mensagens-container{
    width: 30%;
    height: 700px;
    background-color: #F6F7FC;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-radius: 16px;
    padding: 20px;
    margin: 2px solid #ECEEF5 ;
}
.mensagens-box{
    background-color: #ECEEF5;
    height: 90%;
    padding: 15px;
    width: 90%;
    border-radius: 16px;
    overflow-y: scroll;
}
