.user-card{
    display: flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.user-icone{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid #ECEEF5;
}
.user-icone img{
    width: 100%;
    height: 100%;
}
.user-card text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}